body {
  font-family: 'PT Sans', sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #e8e8e8;
}

.content {
  width: 80%;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

.content h1 {
  font-size: 24px;
  font-weight: bold;
  border-top: 2px solid black;
  margin-top: 20px;
  padding-top: 20px;
}

.content p {
  margin-top: 30px;
  text-align: justify;
  margin-bottom: 30px;
}

.vimeo {
  width: 100%;
  margin: auto;
}

.textblock {
  margin-top: 0 !important;
}

.explosion {
  margin-top: 20px;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explosion img {
  max-width: 80%;
  margin-bottom: 10px;
}

img {
  max-width: 80%;
  margin-bottom: 10px;
}

.catch-me-images {
  border: none;
  margin-bottom: 10px;
}

.book-link {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.pdf {
  width: 100%;
  height: 1000px;
  padding-bottom: 50px;
  border-bottom: 2px solid black;
  margin-top: 10px;
}

.catch-me-vimeo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 80%;
  margin: auto;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
